
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city_name" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper_data">
    <img src="../assets/hot.jpeg" alt="hot image" *ngIf="weatherData.main.temp > 59 ">
    <img src="../assets/cold.jpeg" alt="cold image" *ngIf="weatherData.main.temp <= 59">
    <div class="weather_data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp| number :'1.0-0'}} °F</div>
    </div>
  </div>
  <div class="lower_data">
    <div class="more_info_label">
      <div class="more_info_container">
        <div class="info_block">
          <div class="info_block_label">
            <img src="../assets/hot.png" alt="windSpeed">
            <span>Max Temperature</span>
          </div>
          <div class="info_block_value">
            {{weatherData.main.temp_max}} °F
          </div>
        </div>
        <div class="info_block">
          <div class="info_block_label">
            <img src="../assets/min.jpeg" alt="windSpeed">
            <span>Min Temperature</span>
          </div>
          <div class="info_block_value">
            {{weatherData.main.temp_min}} °F
          </div>
        </div>
        <div class="info_block">
          <div class="info_block_label">
            <img src="../assets/wind.png" alt="windSpeed">
            <span>windSpeed</span>
          </div>
          <div class="info_block_value">
            {{weatherData.wind.speed}} km/hr
          </div>
        </div>
        <div class="info_block">
          <div class="info_block_label">
            <img src="../assets/humidity.png" alt="windSpeed">
            <span>humidity</span>
          </div>
          <div class="info_block_value">
            {{weatherData.main.humidity}} %
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>